<section id="management-experience">
  <div class="row justify-content-end">
    <div class="col-1">
      <nav class="nav justify-content-end">
        <a class="nav-link" href="#top">
          <small>top</small>
        </a>
      </nav>
    </div>
  </div>

  <div class="row mt-3 mb-5">
    <div class="co1-12 col-md-4 text-md-right">
      <h2>
        Management Experience
      </h2>
      <p class="text-muted">
        From 2005 until 2016
      </p>
    </div>
    <div class="col-12 col-md-8">
      <% const manExp = site.resume.managementExperience %> <%-
      manExp.description.html %>

      <div class="row man-exp-row justify-content-center mb-5">
        <!-- List group -->
        <div class="col-sm-2 col-3">
          <div class="list-group text-center" id="listManExp" role="tablist">
            <% manExp.chapters.forEach((chapter, index, arr) => { %>
            <a
              class="
                list-group-item 
                list-group-item-action 
                <%= 
                  index === 0 ? 'rounded-0 active' 
                  : index === arr.length - 1 ? 'rounded-0'
                  : '' 
                  %>"
              data-toggle="list"
              href="#<%= chapter.id %>"
              role="tab"
            >
              <%- chapter.name %>
            </a>
            <% }) %>
          </div>
        </div>

        <!-- Tab panes -->
        <div class="col-8">
          <div class="tab-content">
            <% manExp.chapters.forEach((chapter, index, arr) => { %>
            <div
              class="
                tab-pane 
                <%= index === 0 ? 'active' : '' %>  
                man-exp-text"
              id="<%= chapter.id %>"
              role="tabpanel"
            >
              <%- chapter.date %> <%- chapter.position %> <%-
              chapter.organisation %> <%- chapter.location %>
              <br />
              <hr />
              <%- chapter.highlight %>
            </div>
            <% }) %>
            <!-- /.row-->
          </div>
        </div>
        <!--/.col Tab panes end-->
      </div>

      <h3>Tasks and Responsibilities</h3>

      <div class="accordion" id="listManTasks">
        <% const tasks = manExp.tasksAndResponsibilities; tasks.forEach((task,
        index, arr) => { %>
        <div class="card rounded-0">
          <div class="card-header my-green-bg" id"<%= task.id %>">
          <h5 class="mb-0">
            <button
              class="btn btn-link text-white"
              type="button"
              data-toggle="collapse"
              data-target="#<%= task.id %>Collapse"
              aria-expanded="<%= index !== 0 ? false : true %>"
              aria-controls="<%= task.id %>Collapse"
            >
              <%= task.name %>
            </button>
          </h5>
        </div>
        <div
          id="<%= task.id %>Collapse"
          class="<%= index === 0 ? 'collapse show' : 'collapse' %>"
          aria-labelledby="<%= task.id %>"
          data-parent="#listManTasks"
        >
          <div class="card-body small">
            <% task.details.forEach((detail) => { %>
            <ul class="list-unstyled">
              <li>
                <%- detail %>
              </li>
            </ul>
            <% }) %>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

        <!--Accordion-->
  </div>
  <!-- nest /.col-->
</section>
